<div>
    <hr>
    <div class="create-button-container">
        <a class="main-type-button" href="/createMovie">Create Movie</a>
        <a class="main-type-button" href="/createCharacter">Create character</a>       
    </div>    
    <hr>
    <br>
</div>