<header>
    <a href="/">
        <h1>Movies´ Api</h1>
    </a>
    <a href="/auth/login">
        <button>Login</button>
    </a>
    <a href="/auth/register">
        <button>Register</button>
    </a>
    <hr>
</header>