<header>
    <a href="/">
        <h1>Movies´ Api</h1>
    </a>
    <div class="main-button-container">
        <a class="main-type-button" href="/auth/login">Login</a>
        <a class="main-type-button" href="/auth/register">Register</a>       
    </div>
    <hr>
    <br>
</header>